<div class="container header center">
  <h1>SunWix APIs</h1>
  <h2>Upload, Explore and Review APIs</h2>
</div>

<div class="container">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#browse" aria-controls="browse" role="tab" data-toggle="tab">Browse</a></li>
    <li role="presentation"><a href="#add" aria-controls="add" role="tab" data-toggle="tab">Add</a></li>
    
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane container active" id="browse">
      
  

    </div>
    <div role="tabpanel" class="tab-pane container" id="add">
      <div>
        Container Add
      </div>
    </div>
  </div>

</div>

<script>
  $('a[role="tab"]').click(function (e) {
    e.preventDefault()
  })
</script>
   

