<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container header center">
        <h1>SunWix</h1>
        <h2>APIs, widgets, datasets and libraries for your clean energy app</h2>
        <div class="row">
          <div class="col-md-4">
            
          </div>
          <div class="col-md-2">
             <p><a class="btn btn-lg btn-info" href="/#/explore" role="button">Upload &raquo;</a></p>
          </div>
          <div class="col-md-2">
             <p><a class="btn btn-lg btn-warning" href="/#/upload" role="button">Explore &raquo;</a></p>
          </div> 
          <div class="col-md-4">
            
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-3">
          <h2>APIs</h2>
          <p>Upload, browse and review APIs </p>
          <p><a class="btn btn-default" href="/#/apis" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-3">
          <h2>Widgets</h2>
          <p>Upload, browse and review widgets </p>
          <p><a class="btn btn-default" href="/#/widgets" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-3">
          <h2>Datasets</h2>
          <p>Upload, browse and review datasets </p>
          <p><a class="btn btn-default" href="/#/datasets" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-3">
          <h2>Libraries</h2>
          <p>Upload, browse and review libraries </p>
          <p><a class="btn btn-default" href="/#/libraries" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>