

  <div class="container header center">
    <h1>SunWix Widgets</h1>
    <h2>Upload, Explore and Review Widgets</h2>
  </div>

<div class="container">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#browse" aria-controls="browse" role="tab" data-toggle="tab">Browse</a></li>
    <li role="presentation"><a href="#add" aria-controls="add" role="tab" data-toggle="tab">Add</a></li>
    
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane container active" id="browse">
      
  <h2>Widgets:</h2>
  <h3>Widget: data to assess project viability</h3>
  <h3>Submitted By: Joe Doe</h3>
  <h3>Price: free</h3>
  <h3>Average Rating: 5/5</h3>
  <h3>Code Snippet:</h3>
  <textarea cols="72" rows="2">&lt;iframe src="http://aladdine.github.io/solar-savings-dashboard/" name="widget demo" height="1000" width="800"&gt;&lt;/iframe&gt; </textarea>

    </div>
    <div role="tabpanel" class="tab-pane container" id="add">
      <div>
        Container Add
      </div>
    </div>
  </div>

</div>


<!-- Bootstrap: update UA-XXXXX-X to site's ID. -->
<script>
  $('a[role="tab"]').click(function (e) {
    e.preventDefault()
  })
</script>
   
